
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #0c4e47; 
    color: white;
}
.profile-avatar {

    background: #0e5754;  
    color: #ffffff;         
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;        
    font-weight: bold;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    user-select: none;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a3f39;
    position: sticky;
    top: 0;
}

header .logo h1 {
    font-size: 30px;
    margin: 0;
}

nav a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}



.container {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.container h2 {
    font-size: 32px;
    margin-bottom: 30px;
}



.card-list {
    display: flex;
    justify-content: center;   
    gap: 25px;
    flex-wrap: wrap;          
    padding: 20px;
}

.card {
    background-color: #0e4f4a;
    width: 180px;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.25);
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card .title {
    font-weight: bold;
    margin-top: 10px;
    font-size: 15px;
}

.card .edition {
    font-size: 12px;
    opacity: 0.8;
}

.discount {
    color: #ff4f4f;
    font-weight: bold;
    margin-right: 5px;
}

.old-price {
    text-decoration: line-through;
    opacity: 0.7;
    margin-right: 5px;
}

.price {
    color: #ffd24c;
    font-weight: bold;
}

.footer-bloque-1 {
    margin-top: 50px;
    padding: 20px;
    text-align: center;
}

.logo_footer img {
    width: 120px;
    border-radius: 50%;
}

.descargar a {
    background-color: #ffc837;
    padding: 10px 20px;
    border-radius: 6px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.descargar a:hover {
    background-color: #ffdd57;
}


.xarxes_socials {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.img_social img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
}
.idioma{
cursor: pointer;
}